%div{ng: { controller: "PhotoController" }}
  .js-justified__container
    .js-justified
      - if @event.photos.empty?
        %p
          Al parecer aún no se han subido fotos.
          %br
          Vuelve en los próximos días para ver fotos de la ceremonia y la fiesta. O sube las tuyas!

      %a{href: "{{ photo.large }}", ng: { repeat: "photo in photos"}, data: { lightbox: "event" }}
        %img{ng: {src: "{{ photo.small }}"}}
